<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>A fantastical adventure</title>
  </head>
  <body>
     <div class="container">
      <div id="story">
        <h1>A fantastical adventure</h1>
        <p>
    One day, @Model.GetName() and @Model.GetAnotherName() were walking through the woods, when suddenly a giant
        @Model.GetAnimal() appeared. 
      "@Model.GetExclamation()", 
        @Model.GetName() cried. The two of them 
        @Model.GetVerb() as quickly possible, and when they were safe,
        @Model.GetName() and
        @Model.GetAnotherName() gave each other a giant 
        @Model.GetNoun()
                    </p>
    </div>
    </div>
  </body>
</html>